<div class="container">
  <table class="table mt-4">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Bulgarian Sentence</th>
        <th scope="col">English Sentence</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of model.englishTenesesItems">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.bulgarianSentence }}</td>
        <td>{{ item.englishSentence }}</td>
        <td>
           <button class="btn btn-success">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
